/* Write your CSS code here */
.top-div {
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 25px;
}
.para {
  color: #9aa5b1;
  font-size: 20px;
}
.hr-line {
  color: #9aa5b1;
  width: 100%;
}
